
.login-outer-container-background {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-bottom: 225px;
    background: rgb(153,2,120);
    background: radial-gradient(circle, rgba(153,2,120,1) 0%, rgba(140,140,140,1) 100%);
}

.login-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login-container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 0 100px 0 100px;*/
}

.login-title {
    margin: 120px;
}

.login-text-p-title {
    font-size: 20px;
}

.login-container-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;

}

.login-text-p {
    margin: 20px;
}

#email {
    line-height: 40px;
    padding-left: 20px;
    align-self: stretch;
    opacity: 0.5;
}

#uname {
    line-height: 40px;
    padding-left: 20px;
    align-self: stretch;
    opacity: 0.5;
}



.login-button-div {
    display: flex;
    justify-content: center;
    align-self: stretch;
    margin-top: 10px;
    margin-bottom: 30px;

}

.login-button {
    margin-top: 30px;
    width: 200px;
    height: 45px;
    opacity: 0.7;
    text-transform: uppercase;
    border-radius: 15px;
    margin-bottom: 20px;

}
.login-container-forgot-psw{
    margin-top: 20px;
}
.login-text-forgot-psw{
    margin-top: 20px;
    margin-bottom: 10px;
}