
.register-outer-container-background {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-bottom: 150px;
    background: rgb(153, 2, 120);
    background: linear-gradient(153deg, rgba(153, 2, 120, 1) 0%, rgba(140, 140, 140, 1) 100%);
}

.register-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.register-container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
}

.register-title {
    margin: 40px;
}

.register-text-p-title {
    font-size: 20px;
}

.register-container-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;

}

.register-text-p {
    margin: 20px;
}

#email {
    line-height: 40px;
    padding-left: 20px;
    align-self: stretch;
    opacity: 0.5;
}

#psw {
    line-height: 40px;
    padding-left: 20px;
    align-self: stretch;
    opacity: 0.5;
}

#psw-repeat {
    line-height: 40px;
    padding-left: 20px;
    align-self: stretch;
    opacity: 0.5;
}

.register-button-div {
    display: flex;
    justify-content: center;
    align-self: stretch;

}

.register-button {
    margin-top: 30px;
    width: 200px;
    height: 45px;
    opacity: 0.7;
    text-transform: uppercase;
    border-radius: 15px;
    margin-bottom: 20px;

}

.register-agreement-text {
    margin-top: 20px;
    margin-bottom: 10px;
}