* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    background-color: var(--cl-bgc);


}

.footer-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border: var(--cl-rood) solid 2px;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
}

.list-item-top5 {
    margin: 0 350px 0 350px;
}

#text-footer-top5-link {
    font-size: 18px;
    color: var(--cl-rood)
}

.menu-options-bottom {
    display: flex;
    justify-content: space-between;
    margin: 20px
}

.footer-social-media-container {

}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;

}

.text-social-media {
    margin-bottom: 4px;
}

.credentials {
    display: flex;
    justify-content: center;

    margin: 10px 10px;

}