
nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 80px;
    background-color: var(--cl-bgc);

}

.wheelzzz-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;


}

.ul-nav {
    display: flex;
    flex-direction: row;
    flex-basis: 1000px;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-right: 24px;

}


.name-funwheelzzz {
    font-size: xxx-large;
    color: var(--cl-rood);
}

.img-vlag {
    margin-left: 30px;
    margin-top: 13px;

}

a {
    text-transform: uppercase;
    /*font-size: 18px;*/
    text-decoration: -webkit-activelink none;
    /*color: var(--cl-zwart);*/
}

#top5-color {
    font-size: 25px;
    color: var(--cl-rood);

}

