* {
    margin: 0;
    padding: 0;
    /*Dit is belangrijk zodat de breedtes en hoogtes van elementen worden berekend INCLUSIEF padding en borders */
    box-sizing: border-box;
}
p {
    font-size: 25px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    line-height: 40px;
    margin-top: 300px;
}